body {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  overflow: auto;
  line-height: 25px;
  background-color: black; //sandybrown white salmon

/*  background-image: url(../img/background.jpg) !important;
  background-size: cover !important;*/
}
* {
  position: relative;
  box-sizing: border-box;
}

.jumbotron, .panel-default, .container{
  max-width: 900px;
  height: 100%;
  /*max-height: 1300px;*/
  background-color: rgba(0,0,0,.4);
  border-color: transparent;
 /* margin-top: 2%;*/
  border-radius: 5px;
}
.container-wrapper {
/*  background-image: url(../img/background.jpg) !important;
  background-size: cover !important;*/
  width: 96%;
  max-width: 940px;
  height: 100%;
  /*max-height: 1350px;*/
  margin: auto;
  margin-top: 2% !important;
}

.container{
	background-image: url(../img/background.jpg) !important;
  background-size: cover !important;
  width: 96%;
  max-width: 940px;
  height: 100%;
  border: 2px solid yellow;
  margin: auto;
  margin-top: 5% !important;
}

h1 {
	font-size: 26px;
}

h1, h2, button {
	color: red;
	/*font-family: 'Bungee Hairline', cursive;
*/	
	font-size: 30px;
/*	font-family: 'Bangers', cursive;*/
}

button {
	border-radius: 2px;
	background-color: rgba(0,0,0,.4);

}